:root {
  --ion-color-primary: #595959;
  --ion-color-primary-rgb: 89,89,89;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade: #4e4e4e;
  --ion-color-primary-tint: #6a6a6a;
  --ion-color-secondary: #c8a03c;
  --ion-color-secondary-rgb: 200,160,60;
  --ion-color-secondary-contrast: #fff;
  --ion-color-secondary-shade: #b08d35;
  --ion-color-secondary-tint: #ceaa50;
  --app-gold: #c8a03c;
  --app-dark: #595959;
}
